.company {
    font-family: arial, sans-serif;

    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }

    .example-full-width {
        width: 100%;
    }

    .example-spacer {
        flex: 1 1 auto;
    }

    table {

        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    .dp-hidden {
        width: 0;
        margin: 0;
        border: none;
        padding: 0;
    }
    .custom-day {
        text-align: center;
        padding: 0.185rem 0.25rem;
        display: inline-block;
        height: 2rem;
        width: 2rem;
    }
    .custom-day.focused {
        background-color: #e6e6e6;
    }
    .custom-day.range,
    .custom-day:hover {
        background-color: rgb(2, 117, 216);
        color: white;
    }
    .custom-day.faded {
        background-color: rgba(2, 117, 216, 0.5);
    }
}